*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, button{
    border-radius: 5px;
}

fieldset{
    border: 0;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo{
    align-items: center;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="password"], .campo input[type="number"]{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.botoes{
    margin: 0px;
    padding: 0px;
}

.botao_e{
    float: left;
    font-size: 1.2em;
    background: #6f6f6f;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position:relative;
    cursor: pointer;
    display:inline;

}

.botao_d{
    float:right;
    margin: 0px 90px;
    font-size: 1.2em;
    background: #6f6f6f;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position:fixed;
    cursor: pointer;
    display:inline;
}

.botoes:hover{
    background: #8f8f8f;
   
}

.lado{
    display: flex;
    height: auto;
    bottom: 0;
    margin-left: 0px;
}



a{
    text-decoration: none;
    color: inherit;
}